.customer_card{
    padding: 10px 30px;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    
    margin-bottom: 30px;
}

.order_details{
    padding: 20px 40px;
    font-size: 14px;
    margin-bottom: 35px;
}

.order_section{
    margin-bottom: 28px;
    position: relative;
}

.action_icons{
    position: absolute;
    top: 0px;
    right: 0px;
}