.txtfld{
    width: 100%;
    /* padding: 0px 155px 0px 30px; */
}
.topbar{
    padding: 30px 3em 30px 5em;
}
h1{
    font-size: 2em;
    margin-bottom: 90px;
}
.dial{
    width: 100%;
    background-color: black;
}

.inventory-item{
    background: #F2F5FA 0% 0% no-repeat padding-box;
    height: max-content;
    width: 100%;
    font-size: 12px;

    padding: 1px 15px 30px 30px;
    position: relative;
    margin-top: 10px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 10px;
    color: #191919;
    border-radius: 4px;
}

.cart_grid{
    /* margin-left: 40px; */
}

.typedish .cost{
    color: #727272;
    flex-direction: row;
    float: right;
    padding-right: 5px;
}
.inventory-item p{
    color: #707070;
}
.inventory-item .typedish{
    color: #191919;
    font-weight: bolder;
    font-size: 1.5em;
}

.checkity{
    text-decoration: none;
    size: 10em;
}
.CancelBut{
    background-color: #191919;
}